* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 100px;
}


.boxes {
    border: 2px solid rgba(26, 25, 25, 0.226);
    border-radius: 6px;
    width: 300px;
    display: inline-block;
    margin: 15px;
    padding: 15px 20px;
    text-align: center;
}

.boxes p {
    color: rgb(107, 107, 107);
    font-size: 14px;
    padding-bottom: 10px;
}

.boxes img, .boxes h2 {
    padding: 15px;

}